.selfie-container {
  position: absolute;
  top: 10px;
  left: 50%;
  border-radius: 15px;
  width: calc(100% - 20px);
  height: calc(100vh - 20px);
  transform: translateX(-50%);

  img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: contain;
  }
}
