.stop {
    font-size: 2em;
    padding: 10px 0;
    width: 200px;
    background-color: rgb(255, 102, 0);
    border-radius: 15px;
    box-shadow: 8px 8px 10px #000;
    text-align: center;
    margin: 15px 5px;
    cursor: pointer;
}

.confirm-dialog {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 150px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    font-size: 2em;
    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row;
        .button {
            margin: 15px;
            padding: 10px 30px;
            font-size: 0.8em;
            border: 2px solid #000;
            border-radius: 10px;
            cursor: pointer;
        }
        .button:hover {
            border: 2px dashed #000;
        }
    }
}

@media screen and (max-width: 700px) {
    .stop {
        font-size: 1.5em;
        width: 130px;
    }
}